<a href="https://colab.research.google.com/github/reverseRAFID/CSE111-Lab-Assignments/blob/main/CSE111_LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**String**

In [ ]:
#Task1
x = input("")
count_upper = 0
count_lower = 0

for alphabet in x:
  if 65 <= ord(alphabet) <= 90:
    count_upper += 1
  elif 97 <= ord(alphabet) <= 122:
    count_lower += 1

if count_upper > count_lower:
  result = x.upper()
else:
  result = x.lower()

print(result)

BaNaNa
banana

In [ ]:
#Task2
x = input("")
count_num = 0
count_alphabet = 0
count_mix = 0

for alphabet_number in x: 
  ord_num = ord(alphabet_number)
  if (ord_num>=65 and ord_num<=90) or (ord_num>=97 and ord_num<=122) :
    count_alphabet += 1
  elif ord_num>=48 and ord_num<=57:
    count_num += 1
if count_num > 0 and count_alphabet > 0:
  print('MIXED')
elif count_num > 0:
  print('NUMBER')
else:
  print('WORD')

jhg231j213
MIXED

In [ ]:
#Task 3
x = input("")

text = []

for i in x:
  if i.isupper() == True:
    text += i
start_letter = text[0]
end_letter = text[1]

start = x.index(start_letter) + 1
end = x.index(end_letter)

if x[start:end] == "":
  print("BLANK")

print(x[start:end])

baNgladEsh
glad

In [ ]:
#Task 4
string=input().split(", ")
tup_string=tuple(string)
(fist_string, second_string) =tup_string

new_string= ""
for alphabet in range(len(first_string)):
    if first_string[alphabet] in second_string:
        new_string = new_string+first_string[alphabet] 
for alphabet in range(len(second_string)):
    if second_string[alphabet] in first_string:
        new_string = new_string+second_string[alphabet]
if new_string=="":
    print("Nothing in common")
else :
    print(new_string)

dean, tom
Nothing in common

In [ ]:
#Task 5
import re

password = input("")
a = True
comment = ""

string1 = "Lowercase character missing, "
string2 = "Uppercase character missing, "
string3 = "Digit missing, "
string4 = "Special character missing. "

while a:
  if not re.search("[a-z]",password):
    comment += string1
    
  if not re.search("[A-Z]",password):
    comment += string2
    
  if not re.search("[0-9]",password):
    comment += string3
    
  if not re.search("[_$#@]",password):
    comment += string4
    break
  else:
    print("OK")
    a = False
    break
if a:
  print(comment)

ohmybracu
Uppercase character missing, Digit missing, Special character missing.

In [ ]:
password=input()

up = low = num = sp = False

uppercase = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
lowercase = "abcdefghijklmnoppqrstuvwxyz"
number = "1234567890"
special = "_$#@"


for char in password:
  if char in uppercase:
    up= True
  if char in lowercase:
    low = True
  if char in number:
    num= True
  if char in special:
    sp= True


if up == False:
  print("Uppercase character missing",end=', ')
if low == False:
  print("Lowercaw character missing",end=', ')
if num == False:
  print("Digit missing",end=', ')
if sp==False:
  print("Special Character missing",end=', ')

if up!=False and low!=False and num!=False and sp!=False:
  print("OK")

ohmybracu
Uppercase character missing, Digit missing, Special Character missing,

**List**

In [ ]:
#Task 1
my_list=[]
var1=0
while True:
    new_list=input()
    if new_list == "STOP":
        break
    else:
        my_list.append(new_list)
    var1=var1+1
var2=0
new_list=[]
while var2<len(my_list):
    if my_list[var2] not in new_list:
        print(my_list[var2],"-",my_list.count(my_list[var2]),"times")
        new_list.append(my_list[var2])
    var2=var2+1

10
20
20
30
10
50
90
STOP
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

In [ ]:
#Task 2
x=int(input(""))
list_1 = []
list_2 = []
for i in range(x):
    i = input()
    i = i.split()
    i = [int(s) for s in i]
    list_1.append(i)
for num in range(len(list_1)):
    summation = sum(list_1[num])
    list_2.append(summation)               
max_list = list_2.index(max(list_2))
print(max(list_2))
print(list_1[max_list])

4
1 2 3
4 5 6
10 11 12
7 8 9
33
[10, 11, 12]

In [ ]:
def int_lst(lst):
  for i in range(len(lst)):
    lst[i] = int(lst[i])
  return lst

lst1 = input().split(" ")
lst2 = input().split(" ")
ans=[]
#converting str into int and storing into the same list

lst1=int_lst(lst1)
lst2=int_lst(lst2)

#mulitplying 1st value(lst1) with the value(lst2) consecutively
for k in lst1:
  for l in lst2:
    ans.append(k*l)

print(ans)

2 3 6
3 4 5
[6, 8, 10, 9, 12, 15, 18, 24, 30]

In [ ]:
list_1 = []

while True:
    sin = input()
    if sin == 'STOP':
        break
    else:
        sin = list(map(int, sin.split()))
        is_ub_jumper = True
        for i in range(len(sin) - 1):
            diff = abs(sin[i] - sin[i + 1])
            if diff >= len(sin):
                is_ub_jumper = False
                break
        list_1.append("UB JUMPER" if is_ub_jumper else "NOT UB JUMPER")

for i in list_1:
    print(i)

1 4 2 3
2 1 4 6 10
1 4 2 -1 6
STOP
UB JUMPER
UB JUMPER
NOT UB JUMPER

In [ ]:
#Task 4
user_1 = input().split()
user_2 = input().split()
c1=0
for i in user_2:
    if (int(user_1[1]))<=(5-int(i)):
        c1=c1+1
team=c1//3
print(team)

5 2
0 4 5 1 0
1

**Dictionary & Tuple**

In [ ]:
#Task 1
dict_1 = {'a': 100, 'b': 100, 'c': 200, 'd': 300}
dict_2 = {'a': 300, 'b': 200, 'd': 400, 'e': 200}
empty_list = []
new_dict = {}
for key in dict_1:
    if key in dict_2:
        dict_1[key] = dict_1[key] + dict_2[key]
    else:
        continue
new_dict.update(dict_2)
new_dict.update(dict_1)
print(new_dict)
new_dict = list(new_dict.values())
new_list_sorted = new_dict.sort()

for i in new_dict:
    if i in empty_list:
        continue
    else:
        empty_list.append(i)
print('Values:', tuple(empty_list))

{'a': 400, 'b': 300, 'd': 700, 'e': 200, 'c': 200}
Values: (200, 300, 400, 700)

In [ ]:
#Task 2
x=input("")

my_list = []
my_dict= {}

while x.upper() != "STOP":
  my_list.append(int(x))
  x = input()
for i in my_list:
  if (i in my_dict):
    my_dict[i] += 1
  else:
    my_dict[i] = 1

for key, value in my_dict.items():
  print (key,"-",value,"times")

10
20
20
30
10
50
90
STOP
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

In [ ]:
#Task 3
str1 = input()  # "Key1 : value1, Key2 : value2, key3 : value1" #Question Input Example
my_dict = {}
dictionary = dict((x.strip(), y.strip())
for x, y in (item.split(":") for item in str1.split(", ")))
for item1, item2 in dictionary.items():
  if item2 in my_dict:
    my_dict[item2] = my_dict[item2] + [item1]
  else:
    my_dict[item2] = [item1]

print(my_dict)

key1 : value1, key2 : value2, key3 : value1
{'value1': ['key1', 'key3'], 'value2': ['key2']}

In [ ]:
#Task 4
string_1 = input()
string_2 = ""
for i in range(len(string_1)):
    if ord(string_1[i])>=97 and ord(string_1[i])<=122:
        string_2 = string_2 + chr(ord(string_1[i]) - 32)
    else:
        string_2 = string_2 + string_1[i]
s=""
total={1:[".",",","?","!",':'],
       2:["A","B","C"],3:["D","E","F"],4:["G","H",'I'],5:["J","K","L"],6:["M","N","O"],
       7:["P","Q","R","S"],8:["T","U","V"],9:["W","X","Y","Z"],0:[" "]}

for i in range(len(string_2)):
    for j,k in total.items():
        if string_2[i] in k:
            for l in range(len(k)):
                if string_2[i] ==k[l]:
                    x=len(k[:l+1])
                    for t in range(x):
                        s=s+str(j)
print(s)

Hello, World!
4433555555666110966677755531111